<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tr.droplist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.tr.droplist.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableExpandableListViewActivity" >
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableGridViewActivity" >
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableListViewActivity" >
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableScrollViewActivity" >
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableWebViewActivity" >
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableImageViewActivity" >
        </activity>
        <activity android:name="com.tr.droplist.activity.PullableTextViewActivity" >
        </activity>
    </application>

</manifest>